.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 15rem;
  border-radius: 2rem;
  padding: 2rem;
  margin-top: 1rem;
  color: white;

  h1 {
    font-size: 1.2rem;
    margin-bottom: 0;
    font-weight: lighter;

    &.search-term {
      font-size: 2.2rem;
      color: #dd0031;
      font-weight: bolder;
    }
  }
}
