/* Global styles */
html,
body {
  height: 100%;
  margin: 0;

  ::-webkit-scrollbar {
    width: 0.25rem;
  }
  ::-webkit-scrollbar-track {
    background-color: #181818;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #dd0031;
  }
}

mat-toolbar {
	height: 55px !important;
}

.cdk-overlay-dark-backdrop {
  background-color: rgba(0 0 0 / 74%) !important;
}

.mat-form-field-appearance-fill .mat-fom-field-flex {
  border-radius: 0 !important;
}

.mat-drawer-container {
	position: unset !important;
}

.mat-drawer-content {
	overflow-x: hidden !important;
}

.mat-drawer-inner-container {
	overflow-x: hidden !important;
}

.mat-menu-content {
	padding: 0px !important;
}

.mat-menu-panel {
	min-height: 0px !important;
	border-radius: 0px !important;
}

.mat-dialog-container {
	border-radius: 0px !important;
}

.mat-button.nav-link {
	border-radius: 0px !important;
}

.mat-list-item-content {
	padding: 0 25px !important;
}

// Custom dynamic theme
.black-theme {
  .footer,
  .mat-drawer,
  .mat-menu-panel,
  .mat-select-panel,
  .mat-fab.mat-primary,
  .mat-drawer-container,
  .mat-dialog-container,
  .mat-toolbar.mat-primary,
  .mat-mini-fab.mat-primary,
  .mat-bottom-sheet-container,
  .mat-flat-button.mat-primary,
  .mat-raised-button.mat-primary {
    background-color: #181818 !important;
  }
  .mat-card {
    background-color: #222222 !important;
  }
  .tile_actions {
    ul {
      background-color: #181818 !important;
      color: #dadada;
      li:hover {
        background-color: #1118 !important;
        border-radius: 30px;
      }
    }
  }
  .mat-toolbar {
    .searchbox input {
      background-color: #4040407d;
      color: #cccccc;
    }
  }
  #login-container, #register-container {
    background-color: #0d0d0d !important;
  }
}

.white-theme {
  .tile_actions {
    ul {
      background-color: #f0f0f0 !important;
      color: #181818;
      
      li:hover {
        background-color: #e6e6e6 !important;
        border-radius: 30px;
      }
    }
  }
  .mat-toolbar {
    background-color: #fff !important;

    mat-icon {
      color: #181818 !important;
    }

    .searchbox input {
      background-color: #bdbdbd55;
      color: #333333;
    }
  }
  #not-found.container {
    color: #181818;
  }
  #movie-detail {
    .container {
      background-color: rgb(239 229 229 / 66%) !important;
    }
    .detail-card {
      background-color: rgb(255 255 255 / 65%) !important;
      color: #181818;
    }
  }
}

.search-dialog {
  position: absolute !important;
  top: 0px !important;

  .mat-dialog-container {
    overflow-y: hidden !important;
  }
  .mat-form-field-wrapper {
    padding-bottom: unset !important;
  }
}

.giveMeEllipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.ng-lazyloading {
  filter: blur(4px);
  transition: all 2s ease-in-out;
}

.ng-lazyloaded {
  transition: all 2s;
}
