@keyframes movingGradient {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 1000px 0;
  }
}

@keyframes sosOpacity {
  0% {filter: opacity(0.75);}
  20% {filter: opacity(0.50);}
  60% {filter: opacity(0.25);}
  20% {filter: opacity(0.50);}
  100% {filter: opacity(0.75);}
}

@keyframes sosOpacityImage {
  0% {filter: opacity(0.25);}
  20% {filter: opacity(0.60);}
  60% {filter: opacity(0.90);}
  20% {filter: opacity(0.60);}
  100% {filter: opacity(0.25);}
}

@keyframes cardSlide {
  from {
    height: 150px;
    width: 150px;
    border-radius: 50%;
  }
  to {
    height: 280px;
    width: 180px;
    border-radius: 1rem;
  }
}



.loading-ghost {
  .head {
    height: 40px;
    width: 200px;
    border-radius: 20px;
    margin: 1rem 0;
    background: linear-gradient(
      90deg,
      #33333366 0%,
      #41414166 25%,
      #53535366 50%,
      #41414166 75%,
      #33333366 100%
    );
    animation: movingGradient 3s linear infinite, sosOpacity 1.5s infinite;
  }

  .list {
    display: flex;
    align-items: unset;
    flex-wrap: nowrap;

    .item {
      height: 280px;
      min-width: 180px;
      margin: 0 1rem 1rem 0;
      border-radius: 0;
      display: flex;
      justify-content: center;
      align-items: center;

      background: linear-gradient(
        90deg,
        #33333366 0%,
        #41414166 25%,
        #53535366 50%,
        #41414166 75%,
        #33333366 100%
      );
      // background-position: 0px 0px;
      // background-repeat: repeat;
      animation: movingGradient 3s linear infinite, sosOpacity 1.5s infinite, cardSlide 1.5s infinite;

      img {
        width: 100px;
        animation: sosOpacityImage 1.5s infinite;
      }
    }
  }
}

@media (max-width: 777px) {
  .loading-ghost {
    .list {
      flex-wrap: nowrap;
    }
  }
}
