<div id="search-dialog">
  <mat-form-field color="primary" appearance="outline">
    <mat-label>Search movies / tv shows</mat-label>
    <input
      matInput
      (keyup)="searchTerm$.next($event)"
      type="text"
      name="search"
      placeholder="Type movie title..."
      id="search-input"
    />
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>

  <mat-dialog-content>
    <ng-container *ngIf="!searchResults && isLoading">
      <rad-search-ghost></rad-search-ghost>
    </ng-container>

    <div *ngIf="searchResults && !isLoading" class="search-results">
      <ng-container *ngFor="let item of searchResults">
        <rad-search-item (showItemEvent)="showMovie($event)" [item]="item"></rad-search-item>
      </ng-container>
    </div>

    <ng-container *ngIf="noResultsFound">
      <rad-not-found-card [searchTerm]="notFoundTerm"></rad-not-found-card>
    </ng-container>
  </mat-dialog-content>
</div>
