$rad-black-primary: mat-palette($mat-red, 700, 400, 200);
$rad-black-accent: mat-palette($mat-light-blue, 400);
$rad-black-warn: mat-palette($mat-deep-orange, A400);

$rad-black-theme: mat-dark-theme(
	$rad-black-primary,
	$rad-black-accent,
	$rad-black-warn,
);
