.footer {
	flex: 0 0 auto;
  padding: 0 20px;
  // margin-top: 2rem;
  background-color: #000;
  color: white;
  height: 20vh;

	.row {
		padding: 10px 0;

		.links {
			a {
				transition: padding 0.5s;
				display: inline-block;
				padding: 20px 5px 0;
        color: white;

				&:hover {
					text-decoration: none;
				}

				fa-icon {
					font-size: 30px;
					width: 35px;
				}

				span {
					display: inline-block;
					width: 75px;
					padding: 0 0 0 3px;
					overflow: hidden;
					text-align: left;
					white-space: nowrap;
					transition: width 0.5s;
				}
			}

			@media (max-width: 777px) {
				a {
					span {
						width: 0;
						padding: 0;
					}
				}
			}
    }
    
    .year {
      color: #DD0031;
    }
	}
}
