@import "~@angular/material/theming";

@mixin rad-main-layout-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);

  mat-sidenav-container {
    mat-toolbar {
      button.active {
        background-color: mat-color($primary);
        color: mat-color($primary, default-contrast);
      }
    }
  }
}
