.btn__menu {
  @media (min-width: 777px) {
    display: none;
  }
}

.toolbar {
  position: fixed;
  width: 100%;
  z-index: 10;

  // topbar spacer;
  .spacer {
    flex: 1 0 auto;
  }

  .mat-icon-button {
    justify-content: center;
  }

  @media (max-width: 777px) {
    .menu_top {
      display: none;
    }
  }
}

.rad-border {
  border-bottom: 1.5px solid #69696969;
}

.menu_top button {
  font-size: 1rem;
  font-weight: bolder;
  margin-right: 10px;
  border-radius: 2rem;
  height: 2.7rem;
  padding: 0 1.2rem;
}

