<ng-container *ngIf="isLoading">
  <rad-ghost-list></rad-ghost-list>
  <rad-ghost-list></rad-ghost-list>
</ng-container>

<ng-container *ngIf="!isLoading">
  <rad-movie-list
    [itemsHeadText]="'Popular'"
    [itemsType]="'MOVIES'"
    [items]="popularMovies"
  ></rad-movie-list>

  <rad-movie-list
    [itemsHeadText]="'Top Rated'"
    [itemsType]="'MOVIES'"
    [items]="topRatedMovies"
  ></rad-movie-list>

  <rad-movie-list
    [itemsHeadText]="'Upcoming'"
    [itemsType]="'MOVIES'"
    [items]="upcomingMovies"
  ></rad-movie-list>
</ng-container>
